.big-heading{
    color : black;
    padding: 10px;
}

#small-heading{
    color : yellow;
}


.nucleotide img{
    border : 5px solid black;
    width : 100px;
    height : 100px;
}

.nucleotide {
    display : inline;
}

.connectedSortable { 
    list-style-type: none; 
}