.big-heading{
    color : black;
    padding: 10px;
}

#small-heading{
    color : yellow;
}


.nucleotide img{
    border : 5px solid black;
    width : 100px;
    height : 100px;
}

.nucleotide {
    display : inline;
}

div.mouseover
{
    width:100%
    display:block;
    position:relative;
    text-align: center;
    
}

